  <!-- Engin form -->
    <form [formGroup]="EnginFormEdit">
      <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="EnginFormEdit">
          <ng-template matStepLabel>Informations du matériel</ng-template>
      <!-- Left block -->
          <mat-card class="mat-elevation-z8">
          <!-- Engin code -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput placeholder="Code" formControlName="code" [(ngModel)]="data.code">
            <mat-error *ngIf="handleError('code', 'required')">
              Vous devez Entrer le <strong>Code engin</strong>
            </mat-error>
          </mat-form-field>
          <input matInput class="invisible" formControlName="id" [(ngModel)]="data.id">

          <!-- Engin designation -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Désignation</mat-label>
            <input matInput placeholder="Désignation" formControlName="name" [(ngModel)]="data.name">
            <mat-error *ngIf="handleError('name', 'required')">
              Vous devez Entrer la <strong>Désignation</strong>
            </mat-error>
          </mat-form-field>

          <!-- Add categorie -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Catégorie</mat-label>
            <input matInput #searchInput
            formControlName="categorie"
            placeholder="Catégorie"
            aria-label="Catégorie"
            [(ngModel)]="data.categorie"
            [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnCategorie">
              <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let categorie of filteredCategories" [value]="categorie">
                    <span>{{categorie.name}}</span>
                  </mat-option>
                </ng-container>
            </mat-autocomplete>
            <mat-error *ngIf="handleError('categorie', 'required')">
              Vous devez Entrer la <strong>Catégorie</strong>
            </mat-error>
          </mat-form-field>
            <input matInput class="invisible" formControlName="id_categorie">

          <!-- Add fornisseur -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Fournisseur</mat-label>
            <input matInput #searchInput_f
            formControlName="fournisseur"
            placeholder="Fournisseur"
            aria-label="Fournisseur"
            [(ngModel)]="data.fournisseur"
            [matAutocomplete]="auto_f">
            <mat-autocomplete #auto_f="matAutocomplete" [displayWith]="displayFnFournisseur">
              <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let fournisseur of filteredFournisseurs" [value]="fournisseur">
                    <span>{{fournisseur?.name}}</span>
                  </mat-option>
                </ng-container>
            </mat-autocomplete>
            <mat-error *ngIf="handleError('fournisseur', 'required')">
              Vous devez Entrer Un <strong>Fournisseur</strong>
            </mat-error>
          </mat-form-field>
            <input matInput class="invisible" formControlName="id_fournisseur" >

            <!--DATE ACHAT-->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Date d'achat</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date_achat" [(ngModel)]="data.date_achat">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
            <!-- VALEUR ACHAT -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Valeur d'achat</mat-label>
              <input matInput placeholder="Valeur Achat" formControlName="valeur_achat" [(ngModel)]="data.valeur_achat">
            </mat-form-field>
          </mat-card>
          <div>
            <button mat-icon-button matStepperNext color="primary"><mat-icon>fast_forward</mat-icon></button>
          </div>
          </mat-step>
          <mat-step>
              <ng-template matStepLabel>Huiles</ng-template>
              <mat-card class="mat-elevation-z8">
            <!-- MARQUE MOTEUR -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Marque moteur</mat-label>
              <input matInput placeholder="Marque Moteur" formControlName="marque_moteur" [(ngModel)]="data.marque_moteur">
            </mat-form-field>

            <!-- SERIE MOTEUR -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Série de moteur</mat-label>
              <input matInput placeholder="Serie Moteur" formControlName="serie_moteur" [(ngModel)]="data.serie_moteur">
            </mat-form-field>

            <!-- NUMERO SERIE -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Numéro de série</mat-label>
              <input matInput placeholder="Numéro de serie" formControlName="n_serie" [(ngModel)]="data.n_serie">
            </mat-form-field>
            <!-- BARE CODE -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Code à bare</mat-label>
              <input matInput placeholder="Bare code" formControlName="b_code" [(ngModel)]="data.b_code">
            </mat-form-field>

            <!-- chauffeur -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Chauffeur</mat-label>
              <input matInput #searchInput_ch
              formControlName="chauffeur"
              placeholder="Chauffeur"
              aria-label="Chauffeur"
              [(ngModel)]="data.chauffeur"
              [matAutocomplete]="auto_ch">
              <mat-autocomplete #auto_ch="matAutocomplete" [displayWith]="displayFnChauffeur">
                <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let chauffeur of filteredChauffeurs" [value]="chauffeur">
                    <span>{{chauffeur?.name}}</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
              <mat-error *ngIf="handleError('chauffeur', 'required')">
                Vous devez Entrer le <strong>Chauffeur</strong>
              </mat-error>
            </mat-form-field>
              <input matInput class="invisible" formControlName="id_chauffeur">


            <!-- Etat de fonctionnement -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Etat du véhicule</mat-label>
              <mat-select [(ngModel)]="data.etat_f" formControlName="etat_f">
                <mat-option *ngFor="let etatVf of etatVfs" [value]="etatVf">
                  {{etatVf}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            </mat-card>
            <div>
              <button mat-icon-button matStepperPrevious  color="primary"><mat-icon>fast_rewind</mat-icon></button>
              <button mat-icon-button matStepperNext color="primary"><mat-icon>fast_forward</mat-icon></button>
            </div>
            </mat-step>
            <mat-step>

              <ng-template matStepLabel>Papiers</ng-template>
              <mat-card class="mat-elevation-z8">

              </mat-card>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Vidanges</ng-template>
              <mat-card class="mat-elevation-z8">

            <!-- Etat du Compteur de kilômetrage -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Etat du Compteur de kilômetrage</mat-label>
              <mat-select [(ngModel)]="data.etat_k" formControlName="etat_k">
                <mat-option *ngFor="let etatVk of etatVks" [value]="etatVk">
                  {{etatVk}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- COMPTEUR -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Compteur</mat-label>
              <input matInput placeholder="Compteur Kilomêtre/Heure" formControlName="compteur" [(ngModel)]="data.compteur" type="number">
            </mat-form-field>

            <!-- Type vidange -->
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Type Vidange</mat-label>
              <mat-select [(ngModel)]="data.type_v" formControlName="type_v">
                <mat-option *ngFor="let typeV of typeVs" [value]="typeV">
                  {{typeV}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- CONSOMATION -->
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label>Consomation moyenne</mat-label>
              <input matInput type="number" placeholder="Consomation moyenne" formControlName="consomation" [(ngModel)]="data.consomation">
            </mat-form-field>

            <!-- VIDANGE COMPTEUR -->
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label>Compteur à parcourir pour le prochaine vidange</mat-label>
              <input matInput type="number" placeholder="Compteur à parcourir pour le prochaine vidange" formControlName="compteur_v"
              [(ngModel)]="data.compteur_v">
            </mat-form-field>

            <!-- VIDANGE ALARME -->
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label>Alarme vidange</mat-label>
              <input matInput type="number" placeholder="Consomation" formControlName="vidange_alarm" [(ngModel)]="data.vidange_alarm">
            </mat-form-field>

            <!-- COMPTEUR DERNIER VIDANGE ALARME -->
            <mat-form-field class="example-full-width" appearance="outline" >
              <mat-label>Compteur du dernier vidange</mat-label>
              <input matInput type="number" placeholder="Compteur du dernier vidange" formControlName="compteur_dernier_v"
              [(ngModel)]="data.compteur_dernier_v">
            </mat-form-field>

            <!-- DATE DERNIER VIDANGE ALARME -->

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Date du dernier vidange</mat-label>
              <input matInput [matDatepicker]="picker_v" formControlName="date_v" [(ngModel)]="data.date_v">
              <mat-datepicker-toggle matSuffix [for]="picker_v"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker_v></mat-datepicker>
            </mat-form-field>

            <!-- Accessoire-->
              <mat-slide-toggle [(ngModel)]="data.accessoire_v" formControlName="accessoire_v">Accéssoire</mat-slide-toggle>

            <!-- Pointage-->
              <mat-slide-toggle [(ngModel)]="data.pointed" formControlName="pointed">Pointage</mat-slide-toggle>

            <!-- Porte char-->
              <mat-slide-toggle [(ngModel)]="data.porte" formControlName="porte">Porte Char</mat-slide-toggle>
            <!-- Archived-->
              <mat-slide-toggle [(ngModel)]="data.archived" formControlName="archived">Vendue</mat-slide-toggle>

              <!-- <button mat-icon-button color="primary" [mat-dialog-close]="data">
                <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
              </button>
              <button mat-icon-button color="accent" mat-dialog-close>
                <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
              </button> -->
              </mat-card>

              <div>
                <button mat-icon-button matStepperPrevious  color="primary">
                  <mat-icon >fast_rewind</mat-icon>
                </button>
                <button mat-icon-button [mat-dialog-close]="data" [disabled]="EnginFormEdit.invalid" color="warn">
                  <mat-icon >edit</mat-icon>
                </button>
              </div>
    </mat-step>
      </mat-horizontal-stepper>
    </form>
