<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Ajouter Rôles</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>
 
  <!-- Roles form -->
  <div class="example-container">
    <form [formGroup]="RolesForm" (ngSubmit)="submitRolesForm()">
      <!-- Left block -->
      <mat-card>

          <!-- Roles display name -->
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Nom complet" formControlName="name">
            <mat-error *ngIf="handleError('name', 'required')">
              Vous devez Entrer le <strong>Nom complet</strong>
            </mat-error>
          </mat-form-field> 

            <!-- Roles display intitule -->
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Intitulé" formControlName="intitule">
            <mat-error *ngIf="handleError('intitule', 'required')">
            Vous devez Entrer l' <strong>intitulé</strong>
            </mat-error>
          </mat-form-field>                    

          <mat-card-actions>
            <button mat-fab color="primary" [disabled]="RolesForm.invalid" matTooltip="Nouvelle élement"> 
              <mat-icon aria-label="Example icon-button with a heart icon">done_outline</mat-icon>
            </button>
            <button mat-fab color="accent" (click)="closeForm()" matTooltip="Annuler">
              <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
            </button>
          </mat-card-actions>             
      </mat-card>
    </form>
  </div>