/* Structure */
table {
  width: 100%;
}
h4{
  margin-left: 148px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.addEngin {
  margin-left: 44px;
}
.mat-form-field {
  font-size: 10px;
  width: 90%;  
  margin-left: 46px;  
}
.mat-elevation-z8{
  width: 90% !important;   
  margin: auto; 
}
.mat-chip-list-stacked{
  width: 60% !important;
}
.chip-selection{
  display:table;
  margin-left: auto;
  margin-right: auto;
}