 <!-- Chantier form -->
<button mat-icon-button color="primary" [disabled]="ChantierForm.invalid" matTooltip="Nouvelle élement">
  <mat-icon aria-label="Example icon-button with a heart icon">done_outline</mat-icon>
</button>
<button mat-icon-button color="accent" (click)="closeForm()" matTooltip="Annuler">
  <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
</button>
  <div class="example-container">
    <form [formGroup]="ChantierForm" (ngSubmit)="submitChantierForm()">
      <!-- Left block -->
      <mat-card>
        <mat-card-title>Ajouter un Site</mat-card-title>
          <!-- Chantier designation -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nom complet</mat-label>
            <input matInput placeholder="Désignation" formControlName="name">
            <mat-error *ngIf="handleError('name', 'required')">
              Vous devez Entrer la <strong>Désignation</strong>
            </mat-error>
          </mat-form-field>

<!--           <mat-card-actions>

          </mat-card-actions> -->
      </mat-card>
    </form>
  </div>
