<div class="example-action-buttons">
    <button type="button"
        class="close"
        aria-describedby="modal-title"
        mat-dialog-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <p>Information sur les utilisateurs affectés </p>
    <p>au <span class="mat-subheading-1">{{data.name}}</span></p>
</div>
<mat-accordion class="example-headers-align" multi>
<mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>
        Chantier :
    </mat-panel-title>
    <mat-panel-description>
        {{data.name}}
        <mat-icon>account_circle</mat-icon>
    </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- User Chantier -->
    <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let chantier of chantiers"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(chantier)">
                ({{chantier.role}}) {{chantier.email}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Nouvau Utilisateur..."
                #chantierInput
                [formControl]="chantierCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let user of (filteredChantiers | async)" [value]="user">
        {{user.email}} | ({{user.role}})
        </mat-option>
    </mat-autocomplete>
    </mat-form-field>

</mat-expansion-panel>
</mat-accordion>
