/* Structure */
table {
    width: 100%;
  }
  h3{
    margin-left: 90px;
    margin-top: 10px;
  }
  .addEngin {
    margin: 16px 90px;
  }
  .mat-form-field {
    font-size: 14px;
    margin-left: 90px;
    width: 50%;
  }
  .mat-elevation-z8{
    width: 90% !important;
    margin-left: 90px !important;
  }

  .arret{
    background-color:rgb(88, 78, 78);
  }
  .mad{
    background-color:rgb(148, 204, 241);
  }
  .panne{
    background-color:red;
  }
  .attente{
    background-color: yellow;
  }
