<h3>Liste des Chantiers</h3>
<button mat-fab color="primary" (click)="addChantier()" class="addEngin"> <i class="material-icons">add</i> </button>
<mat-form-field>
    <mat-label>Recherche par Chantier</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Cate">
  </mat-form-field>
  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
  
    <!-- Numero Column -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
   
    <!-- Name Column -->
    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef> D&eacute;signation </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- compte Column -->
    <ng-container matColumnDef="compte">
        <th mat-header-cell *matHeaderCellDef> Compte Tiére </th>
        <td mat-cell *matCellDef="let element"> {{element.compte}} </td>
      </ng-container>

    <!-- archive Column -->
    <ng-container matColumnDef="archive">
        <th mat-header-cell *matHeaderCellDef> Archivée </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox          
          [(ngModel)]="element.archive">
          </mat-checkbox>          
        </td>
      </ng-container>      

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <button mat-icon-button color="primary"
        (click)="editChantier(i, element)">
          <mat-icon>edit</mat-icon>        
      </button>
        <button mat-icon-button color="warn" (click)="deleteChantier(element.id)">
          <mat-icon>delete</mat-icon>          
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>