<h3>Liste des Sites</h3>
<button mat-fab *ngIf="collectionPermAdd" color="primary" matTooltip="Nouvelle élement" (click)="addChantier()" class="addEngin">
  <i class="material-icons">add</i>
</button>
  <mat-form-field>
    <mat-label>Recherche par Site</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Cate">
  </mat-form-field>
  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Numero Column -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Numero Column -->
    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef> Région </th>
      <td mat-cell *matCellDef="let element"> {{element.region}} </td>
    </ng-container>

    <!-- users Column -->
    <ng-container matColumnDef="users">
      <th mat-header-cell *matHeaderCellDef> Ut. </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.users" [matBadge]="element.users.length" matBadgeColor="primary">account_circle</mat-icon>
      </td>
    </ng-container>

    <!-- engins Column -->
    <ng-container matColumnDef="engins">
      <th mat-header-cell *matHeaderCellDef> Matériels </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.engins" [matBadge]="element.engins.length" matBadgeColor="primary">commute</mat-icon>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef> D&eacute;signation </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- compte Column -->
    <ng-container matColumnDef="compte">
        <th mat-header-cell *matHeaderCellDef> Compte Tiére </th>
        <td mat-cell *matCellDef="let element"> {{element.compte}} </td>
      </ng-container>

    <!-- archive Column -->
    <ng-container matColumnDef="archive">
        <th mat-header-cell *matHeaderCellDef> Archivée </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
          [(ngModel)]="element.archive" disabled="true">
          </mat-checkbox>
        </td>
    </ng-container>

    <!-- geolocalisation Column -->
    <ng-container matColumnDef="geolocalisation">
        <th mat-header-cell *matHeaderCellDef> Géo </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.localisation">{{element.localisation.latitude}} </ng-container>
        </td>
    </ng-container>



      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef><mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <button mat-icon-button *ngIf="collectionMenuToggel" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="collectionPermDelete" (click)="deleteChantier(element.id)">
              <mat-icon>delete</mat-icon>
              <span>Supprimer</span>
            </button>
            <button mat-menu-item *ngIf="collectionPermUpdate" (click)="editChantier(element)">
              <mat-icon>edit</mat-icon>
              <span>Modifier</span>
            </button>
            <button mat-menu-item *ngIf="(is_in_array_chantier && element.archive ==0)" (click)="editUser(element)">
              <mat-icon>account_circle</mat-icon>
              <span>Utilisateur</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>
