<button mat-icon-button color="primary" [disabled]="CollectionsForm.invalid" matTooltip="Nouvelle élement">
  <mat-icon aria-label="Example icon-button with a heart icon">done_outline</mat-icon>
</button>
<button mat-icon-button color="accent" (click)="closeForm()" matTooltip="Annuler">
  <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
</button>
  <!-- Collections form -->
  <div class="example-container">
    <form [formGroup]="CollectionsForm" (ngSubmit)="submitCollectionsForm()">
      <!-- Left block -->
      <mat-card>

        <mat-card-title>Ajouter une collection</mat-card-title>

          <!-- Collections display name -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nom complet</mat-label>
            <input matInput placeholder="Nom complet" formControlName="name">
            <mat-error *ngIf="handleError('name', 'required')">
              Vous devez Entrer le <strong>Nom complet</strong>
            </mat-error>
          </mat-form-field>

          <!-- Collections Intitule -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Intitulé complet</mat-label>
            <input matInput placeholder="Intitulé complet" formControlName="intitule">
            <mat-error *ngIf="handleError('intitule', 'required')">
              Vous devez Entrer le <strong>Intitule complet</strong>
            </mat-error>
          </mat-form-field>

          <!-- Collections Tooltip -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>ToolTipe</mat-label>
            <input matInput placeholder="ToolTipe" formControlName="toolTipe">
            <mat-error *ngIf="handleError('toolTipe', 'required')">
              Vous devez Entrer le <strong>ToolTipe</strong>
            </mat-error>
          </mat-form-field>

          <!-- Collections Icon -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Icons</mat-label>
            <input matInput placeholder="Icons nme" formControlName="icon">
            <mat-error *ngIf="handleError('icon', 'required')">
              Vous devez Entrer l'<strong>Icon</strong>
            </mat-error>
          </mat-form-field>
      </mat-card>
    </form>
  </div>
