<mat-accordion>

    <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-chip-list>
            <mat-chip color="warn" selected>01/AD/20120</mat-chip>
          </mat-chip-list>
        </mat-panel-title> 
          <mat-panel-description>
           &nbsp;  {{22589.15| number}}DH
          </mat-panel-description>                     
        </mat-expansion-panel-header>                
        <p><span matBadge="1" matBadgeOverlap="false" matBadgePosition="before">12/03/2020</span></p>
        <span matBadge="DS" matBadgeOverlap="false" matBadgePosition="before">LOT-15 Casa</span>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
        <mat-chip-list>
          <mat-chip color="warn" selected>01/AD/20120</mat-chip>
        </mat-chip-list>
      </mat-panel-title> 
        <mat-panel-description>
         &nbsp;  {{23596.52| number}}DH
        </mat-panel-description>                     
      </mat-expansion-panel-header>                
      <p><span matBadge="3" matBadgeOverlap="false" matBadgePosition="before">22/03/2020</span></p>      
      <span matBadge="DS" matBadgeOverlap="false" matBadgePosition="before">LOT-11 Casa</span>
  </mat-expansion-panel>   

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
      <mat-chip-list>
        <mat-chip color="warn" selected>01/AD/20120</mat-chip>
      </mat-chip-list>
    </mat-panel-title> 
      <mat-panel-description>
       &nbsp;  {{52689.15| number}}DH
      </mat-panel-description>                     
    </mat-expansion-panel-header>                
    <p><span matBadge="1" matBadgeOverlap="false" matBadgePosition="before">12/03/2020</span></p>    
    <span matBadge="DS" matBadgeOverlap="false" matBadgePosition="before">LOT-15 Casa</span>            
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
    <mat-chip-list>
      <mat-chip color="warn" selected>02/AD/20120</mat-chip>
    </mat-chip-list>
  </mat-panel-title> 
    <mat-panel-description>
     &nbsp;  {{569823.52| number}}DH
    </mat-panel-description>                     
  </mat-expansion-panel-header>                
  <p><span matBadge="3" matBadgeOverlap="false" matBadgePosition="before">22/03/2020</span></p>  
  <span matBadge="DS" matBadgeOverlap="false" matBadgePosition="before">LOT-11 Casa</span>
</mat-expansion-panel>  
<mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
      <mat-chip-list>
        <mat-chip color="warn" selected>05/AD/20120</mat-chip>
      </mat-chip-list>
    </mat-panel-title> 
      <mat-panel-description>
       &nbsp;  {{56894.15| number}}DH
      </mat-panel-description>                     
    </mat-expansion-panel-header>                
    <p><span matBadge="1" matBadgeOverlap="false" matBadgePosition="before">12/03/2020</span></p>
    LOT-15 Casa                
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
    <mat-chip-list>
      <mat-chip color="warn" selected>10/AD/20120</mat-chip>
    </mat-chip-list>
  </mat-panel-title> 
    <mat-panel-description>
     &nbsp;  {{523698.52| number}}DH
    </mat-panel-description>                     
  </mat-expansion-panel-header>                
  <p><span matBadge="3" matBadgeOverlap="false" matBadgePosition="before">22/03/2020</span></p>  
  <span matBadge="DS" matBadgeOverlap="false" matBadgePosition="before">LOT-11 Casa</span>
</mat-expansion-panel>    
</mat-accordion>
