<ng-container *ngIf="user$ | async"></ng-container>
  <!-- User form -->
  <div class="example-container">
    <form [formGroup]="UserForm" (ngSubmit)="submitUserForm()">
      <!-- Left block -->
      <mat-card>
        <mat-card-title>{{ title$ | async}}</mat-card-title>
          <!-- User display name -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nom complet</mat-label>
            <input matInput placeholder="Nom complet" formControlName="displayName">
            <mat-error *ngIf="handleError('displayName', 'required')">
              Vous devez Entrer le <strong>Nom complet</strong>
            </mat-error>
          </mat-form-field>

          <!-- user email -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="E-mail" formControlName="email">
            <mat-error *ngIf="handleError('email', 'required')">
              Vous devez Entrer l'<strong>Email</strong> Valide
            </mat-error>
          </mat-form-field>

          <!-- user phone -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Téléphone</mat-label>
            <input matInput placeholder="Téléphone" formControlName="phoneNumber">
            <mat-error *ngIf="handleError('phoneNumber', 'pattern')">
              Vous devez Entrer un numéro de <strong>Téléphone</strong> Valide
            </mat-error>
          </mat-form-field>

          <!-- User password -->
          <mat-form-field appearance="outline">
            <mat-label>Entrer le nouveau mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <!-- User rôle -->
          <mat-form-field appearance="outline">
            <mat-label>Rôle</mat-label>
            <mat-select name="role" formControlName="role">
              <mat-option *ngFor="let role of roles" [value]="role.name">
                {{role.intitule}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </mat-card>
      <button mat-icon-button color="primary"
            [disabled]="UserForm.invalid"
            matTooltip="Nouvelle élement">
              <mat-icon aria-label="Example icon-button with a heart icon">person_add</mat-icon>
            </button>
            <button mat-icon-button color="accent" mat-dialog-close matTooltip="Annuler">
              <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
            </button>
    </form>
  </div>
