<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Modifier Utilisateur</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>

  <!-- User form -->
  <div class="example-container">
    <form [formGroup]="UserFormEdit">
      <!-- Left block -->
      <mat-card>
          <!-- User nom complet -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nom Complet</mat-label>
            <input matInput placeholder="Nom Complet" formControlName="displayName" [(ngModel)]="data.displayName">
            <mat-error *ngIf="handleError('displayName', 'required')">
              Vous devez Entrer le <strong>Nom complet</strong>
            </mat-error>
          </mat-form-field>

          <!-- User email -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="E-mail" formControlName="email" [(ngModel)]="data.email">
            <mat-error *ngIf="handleError('email', 'required')">
              Vous devez Entrer l'<strong>E-mail</strong>
            </mat-error>
          </mat-form-field>

          <!-- User phone number -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Téléphone</mat-label>
            <input matInput type="tel" placeholder="Téléphone" formControlName="phoneNumber" [(ngModel)]="data.phoneNumber">
            <mat-error *ngIf="handleError('phoneNumber', 'pattern')">
              Vous devez Entrer le <strong>Téléphone</strong>
            </mat-error>
            <small>Format: (-212xxxxxxxxx)</small>
          </mat-form-field>

          <!-- User password -->
          <mat-form-field appearance="outline">
            <mat-label>Entrer le nouveau mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password" [(ngModel)]="data.password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <!-- User rôle -->
          <mat-form-field>
            <mat-label>Rôle</mat-label>
            <mat-select [(ngModel)]="data.role" name="role" formControlName="role">
              <mat-option *ngFor="let role of roles" [value]="role.name">
                {{role.intitule}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-card-actions>
            <button mat-fab color="primary" [disabled]="UserFormEdit.invalid" [mat-dialog-close]="data">
              <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
            </button>
            <button mat-fab mat-dialog-close color="accent">
              <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
            </button>
          </mat-card-actions>
      </mat-card>
    </form>
  </div>
