<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
          <mat-chip-list>
            <mat-chip color="primary" selected>01/AD/20120</mat-chip>
          </mat-chip-list>
        </mat-panel-title> 
          <mat-panel-description>
           &nbsp;  {{22589.15| number}}DH
          </mat-panel-description>                     
        </mat-expansion-panel-header>                
        <p><span>12/03/2020</span></p>
        <p><span>Payée Le :12/03/2020</span></p>        
        <span matBadge="DS" matBadgeOverlap="false" matBadgePosition="before">LOT-15 Casa</span>   
    </mat-expansion-panel>  
</mat-accordion>
