.invisible{
    visibility: hidden;
    height: 0;
    width: 0;
}
button{
    margin-right: 8px;
}
.mat-form-field{
  width: 49% !important;
  margin-left: 5px !important;
  height: 70px;
}
.mat-checkbox{
  margin-left: 5px !important;
  height: 70px;
}
agm-map {
  height: 250px;
}
