  <!-- Chantier form -->
  <div class="example-container">
    <form [formGroup]="ChantierFormEdit">
      <!-- Left block -->
      <mat-card>
        <mat-card-title>Modifier le Site {{data.name}}</mat-card-title>
          <input matInput class="invisible" formControlName="id" [(ngModel)]="data.id">

          <!-- Chantier designation -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Désignation</mat-label>
            <input matInput placeholder="Désignation" formControlName="name" [(ngModel)]="data.name">
            <mat-error *ngIf="handleError('name', 'required')">
              Vous devez Entrer la <strong>Désignation</strong>
            </mat-error>
          </mat-form-field>

          <!--Région-->

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Région</mat-label>
            <mat-select [(ngModel)]="data.region" formControlName="region">
              <mat-option *ngFor="let region of (regions$ | async)" [value]="region.name">
                {{region.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- chantier compte -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Compte tièrs</mat-label>
            <input matInput placeholder="Compte" formControlName="compte" [(ngModel)]="data.compte">
            <mat-error *ngIf="handleError('compte', 'required')">
              Vous devez Entrer le <strong>Compte tière</strong>
            </mat-error>
          </mat-form-field>

          <mat-checkbox
          [(ngModel)]="data.archive" formControlName="archive">
          Chantier Archivée
          </mat-checkbox>
          <mat-card>

          <!-- Chantier latitude -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Latitude</mat-label>
            <input matInput placeholder="Latitude" formControlName="latitude" [(ngModel)]="data.latitude" readonly>
            <mat-error *ngIf="handleError('latitude', 'required')">
              Vous devez Entrer la <strong>Latitude</strong>
            </mat-error>
          </mat-form-field>

          <!-- Chantier longitude -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Longitude</mat-label>
            <input matInput placeholder="Longitude" formControlName="longitude" [(ngModel)]="data.longitude" readonly>
            <mat-error *ngIf="handleError('longitude', 'required')">
              Vous devez Entrer la <strong>Longitude</strong>
            </mat-error>
          </mat-form-field>
          <!--  -->
          <agm-map style="text-shadow: 0px 0px 6.2px grey;" [latitude]="data.latitude"
           [longitude]="data.longitude"
            [zoom]="16"
            (mapDblClick)="placeMarker($event)"
            [keyboardShortcuts]="true" [usePanning]="true" [fullscreenControl]="true"
            [mapTypeControl]="true">
              <agm-marker
              [latitude]="data.latitude"
              [longitude]="data.longitude"
              [label]="labelSiteOptions"
              class="agm-marker"
              [markerDraggable]="true">

              </agm-marker>
            </agm-map>
          </mat-card>

          <mat-card-actions>
            <button mat-icon-button color="primary" [disabled]="ChantierFormEdit.invalid" [mat-dialog-close]="data">
              <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
            </button>
            <button mat-icon-button color="accent" mat-dialog-close>
              <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
            </button>
          </mat-card-actions>
      </mat-card>
    </form>
  </div>
