<h3>Liste des Régions</h3>
<button mat-fab *ngIf="collectionPermAdd" color="primary" matTooltip="Nouvelle élement"
(click)="addRegion()" class="addEngin"> <i class="material-icons">add</i> </button>
<mat-form-field>
    <mat-label>Recherche par Région</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Cate">
  </mat-form-field>
  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Numero Column -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- compte Column -->
    <ng-container matColumnDef="compte">
      <th mat-header-cell *matHeaderCellDef> Compte Tiére </th>
      <td mat-cell *matCellDef="let element"> {{element.compte}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef> D&eacute;signation </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- count Column -->
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Sites </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.sites | async;let site">
          <mat-icon *ngIf="site.length!=0" [matBadge]="site.length" matBadgeColor="primary">place</mat-icon>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <button mat-icon-button *ngIf="collectionMenuToggel" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="collectionPermDelete" (click)="deleteRegion(element.id)">
              <mat-icon>delete</mat-icon>
              <span>Supprimer</span>
            </button>
            <button mat-menu-item *ngIf="collectionPermUpdate" (click)="editRegion(i,element)">
              <mat-icon>edit</mat-icon>
              <span>Modifier</span>
            </button>
          </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>
