.mat-elevation-z8{
    width: 90% !important;
    margin-left: 90px !important;
    margin-top: 30px;
}
h3{
  margin-left: 90px;
  margin-top: 10px;
}
table {
  width: 100%;
}

.addPointage {
  margin: 16px 90px;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
  margin-left: 90px;
}

