  <!-- Personnel form -->
  <div class="example-container">
    <form [formGroup]="PersonnelForm" (ngSubmit)="submitPersonnelForm()">
      <button mat-icon-button color="primary" [disabled]="PersonnelForm.invalid" matTooltip="Nouvelle élement">
        <mat-icon aria-label="Example icon-button with a heart icon">done_outline</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="closeForm()" matTooltip="Annuler">
        <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
      </button>
      <!-- Left block -->
      <mat-card>
        <mat-card-title>Ajouter une personne</mat-card-title>
          <!-- Personnel f_name -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom" formControlName="f_name">
            <mat-error *ngIf="handleError('f_name', 'required')">
              Vous devez Entrer le <strong>Nom</strong>
            </mat-error>
          </mat-form-field>

          <!-- Personnel l_name -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Prénom" formControlName="l_name">
            <mat-error *ngIf="handleError('l_name', 'required')">
              Vous devez Entrer le <strong>Prénom</strong>
            </mat-error>
          </mat-form-field>

          
          <!-- Personnel matricule -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Matricule</mat-label>
            <input matInput placeholder="Matricule" formControlName="matricule">
            <mat-error *ngIf="handleError('matricule', 'required')">
              Vous devez Entrer la <strong>Matricule</strong>
            </mat-error>
          </mat-form-field>

          
          <!-- Personnel cin -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>CIN</mat-label>
            <input matInput placeholder="CIN" formControlName="cin">
            <mat-error *ngIf="handleError('cin', 'required')">
              Vous devez Entrer la <strong>CIN</strong>
            </mat-error>
          </mat-form-field>

          <!--DATE NAISSANCNE-->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Date de naissance</mat-label>
            <input matInput [matDatepicker]="picker" [max]="maxDate" [min]="minDate" formControlName="date_naissance">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>

          <!--DATE AMBAUCHE-->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Date d'ambauche</mat-label>
            <input matInput [matDatepicker]="pickerA" [max]="maxDateAmb" [min]="minDateAmb" formControlName="date_ambauche">
            <mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
            <mat-datepicker touchUi #pickerA></mat-datepicker>
          </mat-form-field>


          <!-- type_contrat -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Type de contrat</mat-label>
            <input matInput #type_contrat
            formControlName="type_contrat"
            placeholder="Type de contrat"
            aria-label="Type de contrat"
            [matAutocomplete]="autoC">
            <mat-autocomplete #autoC="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let typeContrat of filteredContrats" [value]="typeContrat">
                  <span>{{typeContrat?.name}}</span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
            <mat-error *ngIf="handleError('type_contrat', 'required')">
              Vous devez selectionnez la <strong>Type de contrat</strong>
            </mat-error>
          </mat-form-field>


          <!-- Personnel duree_contrat -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Durée de Contrat</mat-label>
            <input matInput type="number" placeholder="Durée de Contrat" formControlName="duree_contrat">
            <mat-error *ngIf="handleError('duree_contrat', 'required')">
              Vous devez Entrer la <strong>Durée de Contrat</strong>
            </mat-error>
          </mat-form-field>

          <!-- type_contrat -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Type Pointage</mat-label>
            <mat-select formControlName="type_pointage">
              <mat-option *ngFor="let typeP of ['Quinzainier','Mensuel']" [value]="typeP">
                {{typeP}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <!-- affectation -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Affectation du site</mat-label>
            <input matInput #affectation
            formControlName="affectation"
            placeholder="Affectation du site"
            aria-label="Affectation du site"
            [matAutocomplete]="autoA">
            <mat-autocomplete #autoA="matAutocomplete" [displayWith]="displayFnA">
              <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let affect of affectations" [value]="affect">
                  <span>{{affect?.name}}</span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
            <mat-error *ngIf="handleError('affectation', 'required')">
              Vous devez selectionnez le <strong>Site affecté</strong>
            </mat-error>
          </mat-form-field>
          <input matInput class="invisible" formControlName="id_chantier">

          <!-- uid -->
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Pointeur affecté</mat-label>
            <input matInput #uid
            formControlName="uid"
            placeholder="Pointeur affecté"
            aria-label="Pointeur affecté"
            [matAutocomplete]="autoU">
            <mat-autocomplete #autoU="matAutocomplete" [displayWith]="displayFnU">
              <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="20"></mat-spinner></mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let user of users" [value]="user">
                  <span>{{user?.displayName}} -> {{user?.role}}</span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
            <mat-error *ngIf="handleError('uid', 'required')">
              Vous devez selectionnez le <strong>Pointeur affecté</strong>
            </mat-error>
          </mat-form-field>
          <input matInput class="invisible" formControlName="id_uid">


          <!-- Deplaecment-->
          <mat-slide-toggle formControlName="deplacement">Déplacement</mat-slide-toggle>

      </mat-card>
    </form>
  </div>
