<h3>Liste des Categories</h3>
<button mat-fab color="primary" (click)="addCategorie()" class="addEngin"> <i class="material-icons">add</i> </button>
<mat-form-field>
    <mat-label>Recherche par Categorie</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Cate">
  </mat-form-field>
  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
  
    <!-- Numero Column -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
   
    <!-- Name Column -->
    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef> D&eacute;signation </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <button mat-icon-button color="primary"
        (click)="editCategorie(i, element)">
          <mat-icon>edit</mat-icon>        
      </button>
        <button mat-icon-button color="warn" (click)="deleteCategorie(element.id)">
          <mat-icon>delete</mat-icon>          
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>