<!-- Title group  -->
<form [formGroup]="transfertFormGroup">
      <mat-horizontal-stepper linear="true" labelPosition="bottom" #stepper>
        <mat-step [stepControl]="typeFormGroup" editable="true">
            <ng-template matStepLabel>Selectionner le type de transfert <small>{{typeOfTransfert}}</small></ng-template>
            <section class="example-section">
              <label class="example-margin">Par:</label>
              <mat-radio-group [(ngModel)]="typeOfTransfert" formControlName="typeControl">
                <mat-radio-button class="example-margin" value="engin" (change)="radioChange($event)">
                  Engin
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="chantier" (change)="radioChange($event)">
                  Chantier
                </mat-radio-button>
              </mat-radio-group>
            </section>
            <div>
              <button mat-raised-button matStepperNext>Suivant</button>
              <button mat-raised-button (click)="stepper.reset()">Rafrichir</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup"  editable="true">
              <ng-template matStepLabel>Autre selection <small>{{typeOfTransfert}}</small></ng-template>
              <mat-form-field class="example-full-width" appearance="outline" *ngIf="typeOfTransfert == 'engin'">
                <mat-label>Engin</mat-label>
                <input matInput
                formControlName="myControl"
                placeholder="Engin"
                aria-label="Engin"
                [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let engin of (filteredEngins | async)" [value]="engin">
                    <span>{{engin}}</span>
                  </mat-option>
                </mat-autocomplete>
                <mat-icon matSuffix>commute</mat-icon>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline" *ngIf="typeOfTransfert == 'chantier'">
                <mat-label>Chantier de provenanace</mat-label>
                <input matInput
                formControlName="myControlC"
                placeholder="Chantier de provenance"
                aria-label="Chantier de provenanace"
                [matAutocomplete]="autoC">
                <mat-autocomplete #autoC="matAutocomplete" (optionSelected)="getControls($event,'chantier')">
                  <mat-option *ngFor="let chantier of (filteredChantiers | async)" [value]="chantier">
                    <span>{{chantier.split('=>')[1]}}</span>
                  </mat-option>
                </mat-autocomplete>
                <mat-icon matSuffix>place</mat-icon>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline" *ngIf="typeOfTransfert == 'chantier'">
                <mat-label>Chantier de destination</mat-label>
                <input matInput
                formControlName="myControlD"
                placeholder="Chantier de destination"
                aria-label="Chantier de destination"
                [matAutocomplete]="autoD">
                <mat-autocomplete #autoD="matAutocomplete" (optionSelected)="getControls($event,'destination')">
                  <mat-option *ngFor="let chantier of filteredChantiersD | async" [value]="chantier">
                    <span>{{chantier.split('=>')[1]}}</span>
                  </mat-option>
                </mat-autocomplete>
                <mat-icon matSuffix>place</mat-icon>
              </mat-form-field>
              <div>
                <button mat-raised-button matStepperNext>Suivant</button>
                <button mat-raised-button (click)="stepper.reset()">Rafrichir</button>
              </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Transfert</ng-template>
          <div cdkDropListGroup>
            <div class="example-container">
              <h2>Provenance</h2>
              <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="engins_provenance"
                [cdkDropListConnectedTo]="todoList"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <mat-expansion-panel *ngFor="let engin of (engins_provenance)" [cdkDragDisabled]="engin.etat_f!=='MAD'" cdkDrag>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{engin.code}}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{engin.name}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>{{engin.etat_f}}</p>
                </mat-expansion-panel>
              </div>
            </div>
            <div class="example-container">
              <h2>Destination</h2>
              <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="engins_destination"
                [cdkDropListConnectedTo]="todoList"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <mat-expansion-panel *ngFor="let item of (engins_destination)" cdkDrag>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{item.code}}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{item.name}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>{{item.etat_f}}</p>
                </mat-expansion-panel>
              </div>
            </div>
          </div>
          <div>
            <button mat-raised-button matStepperPrevious>Précedent</button>
            <button mat-raised-button (click)="stepper.reset()">Rafrichir</button>
            <button mat-raised-button disabled>Envoyer</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
</form>


