<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Pointage du matériel code: {{data.engin.code}} - {{data.engin.name}}</h1>
</div>

  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="PointageFormAddFirst" errorMessage="Name is required.">
      <form [formGroup]="PointageFormAddFirst">
        <ng-template matStepLabel>Entrer l'etat du matériel</ng-template>

        <mat-card>
        <!-- Pointage chantier -->
        <mat-form-field appearance="outline">
          <mat-label>Chantier</mat-label>
          <input matInput
          [formControl]="myControl"
          placeholder="Chantier"
          aria-label="Chantier"
          [(ngModel)]="chantier_name"
          [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getControls($event)'>
            <mat-option *ngFor="let chantier of filteredOptions | async" [value]="chantier.split('//')[1]" [id]="chantier.split('//')[0]">
              <span>{{chantier.split('//')[1]}}</span>
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix>place</mat-icon>
        </mat-form-field>

        <!--DATE pointage-->
        <mat-form-field appearance="outline">
          <mat-label>Date du pointage</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date_pointage" [max]="maxDate" [min]="minDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Etat du Matériel</mat-label>
          <mat-select [(ngModel)]="engin_etat" formControlName="etat_f">
            <mat-option *ngFor="let etat of Etat_Array" [value]="etat">
              {{etat}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Heure de marche</mat-label>
          <mat-select [(ngModel)]="heure_m" formControlName="heure_m">
            <mat-option *ngFor="let marche of [0,1,2,3,4,5,6,7,8,9,10]" [value]="marche">
              {{marche}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Heure d'arrêt</mat-label>
          <mat-select [(ngModel)]="heure_ar" formControlName="heure_ar">
            <mat-option *ngFor="let arret of [0,1,2,3,4,5,6,7,8,9,10]" [value]="arret">
              {{arret}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Heure de panne</mat-label>
          <mat-select [(ngModel)]="heure_p" formControlName="heure_p">
            <mat-option *ngFor="let panne of [0,1,2,3,4,5,6,7,8,9,10]" [value]="panne">
              {{panne}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </mat-card>
        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="PointageFormAddSecond" errorMessage="Address is required.">
      <form [formGroup]="PointageFormAddSecond">
        <ng-template matStepLabel>Entrer le gasoil</ng-template>

        <p style="color: royalblue;">Dérnier vidange fait le {{data.engin.date_v.toDate() | date:'dd/MM/yyyy'}}  {{data.engin.type_v=='KILOMETRE'?'à '+data.engin.compteur_dernier_v+" Km":'à '+data.engin.compteur_dernier_v+" Hr"}}
           d'un vidange {{data.engin.vidange_complet?'Complet':'Normale'}}
        </p>
        <p>
          Prochaine vidange sera à {{data.engin.compteur_v+data.engin.compteur_dernier_v | number}} {{data.engin.type_v=='KILOMETRE'?" Km":" Hr"}} il reste <span [ngStyle]="{'color':(data.engin.compteur_v+data.engin.compteur_dernier_v)-data.engin.compteur < data.engin.vidange_alarm ? 'red' : '' }">{{(data.engin.compteur_v+data.engin.compteur_dernier_v)-data.engin.compteur | number}}</span>
        </p>
        <mat-form-field appearance="outline">
          <mat-label>Ancienne Compteur</mat-label>
          <input matInput [(ngModel)]="data.engin.compteur" placeholder="Ancienne Compteur" formControlName="compteur_anc">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Nouveau Compteur par [{{data.engin.type_v}}]</mat-label>
          <input matInput type="number" placeholder="Nouveau Compteur" formControlName="compteur_nvx">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Gasoil</mat-label>
          <input matInput type="number" placeholder="Gasoil" formControlName="gasoil">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Consomation</mat-label>
          <mat-icon matSuffix>place</mat-icon>
          <input matInput placeholder="Consomation" formControlName="consomation">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Etat de compteur</mat-label>
          <mat-select formControlName="etat_compt" [(ngModel)]="compteur_etat" >
            <mat-option *ngFor="let compte of ['MARCHE','PANNE','INNEXISTANT']" [value]="compte">
              {{compte}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>N° de Bon</mat-label>
          <input matInput placeholder="Numéro de bon" formControlName="bon">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="PointageFormAddThird">
      <ng-template matStepLabel>Les huiles</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>H10</mat-label>
        <input matInput type="number" placeholder="Huile de h10" formControlName="h10">
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>H40</mat-label>
        <input matInput type="number" placeholder="Huile de h40" formControlName="h40">
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>H90</mat-label>
        <input matInput type="number" placeholder="Huile de h90" formControlName="h90">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button (click)="pointer()">Pointer</button>
      </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>

