table {
    width: 100%;
  }
h3{
  margin-left: 90px;
  margin-top: 10px;
}
.addEngin {
  margin: 16px 90px;
}
.mat-form-field {
  font-size: 14px;
  width: 90%;
  margin-left: 90px;
}
.mat-tab-list {
  margin-left: 90px !important;
}
.example-tab-icon {
  margin-right: 6px;
}
.setting{
  width: 90% !important;
  margin-left: 90px !important;
}
